* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn {
    background: 0;
    border: 0;
    cursor: pointer;
    outline: none;
}

.img-wrapper img {
    width: 100%;

}

.title {
    font-size: 3rem;
    color: #333;
}

.description {
    font-size: 1.5rem;
}

.link {
    font-size: 2rem;
    line-height: 0;
}